.env
.env.*
!.env.example
vendor
node_modules
.git
database/database.sqlite
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
.phpunit.cache
.phpunit.result.cache
